html, body {
    background-color: rgb(15, 15, 15) ;
    min-height: 100vh;
    color: rgb(255,255,255);
    font-family: Inter;
}
        
.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.logo:hover {
    color: #555

}

.btn {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
}

.btn:hover {
    color: #555;
}

.nav-buttons{
    display: flex;
    gap: 0px;
}

.site-header {
    padding: 0px 24px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}

#home {
    margin-left: 100px;
}


#container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.home-image {
    width: 350px;
    margin-left: 50px;
    alt: "personal image";
}

#message {
    height: auto;
}

footer {
    margin-top: 50px;
    text-align: center;
}

.project {
    border: 1px solid white;
    padding: 10px;
    
    align-items: center;
    justify-content: center;

}

.project-images {
    max-width: 500px;
}

.project-paragraphs {
    padding-left: 50px;
    padding-right: 50px;
}

.left {
    text-align: left;
    width: 100%;
}